<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ROCKUS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <style>
 /*       audio { 
           display:none;
        }
*/
        div {
          background-color: black;
        }

        .masthead {
            font-size: 500%;
            color: blue;
            text-align: center;
            font-family: Arial Black;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="css/mystyles.css"/>
</head>

<body>
    <div class="masthead">Rockus</div>
    <div id="container">
        <div>HELLO1</div>
        <div>
            <audio id="audioPlayer" controls/>
        </div>
        <div>HELLO2</div>
            <audio id="audioPlayer2" controls/>
        </div>
        <div>HELLO3</div>
        <div>
            <audio id="audioPlayer3" controls/>
        </div>
        <div>HELLO4</div>
        <div>
            <audio id="audioPlayer4" controls/>
        </div>
        <div>HELLO5</div>
        <div>
            <audio id="audioPlayer5" controls/>
        </div>
    </div>
    <select id="genre">
        <option value="seventiesDisco">Seventies Disco</option>
        <option value="eightiesPop">Eighties Pop</option>
        <option value="classical">Classical</option>
    </select>
    <button id="begin">BEGIN</button>
    <div>
        <ul class='answers'>
        </ul>
    </div>
    <form action="#" id="send" method="post">
        <input type="text" name="message" id="message" />
        <input type="submit" name="submit" class="submit" />
    </form>
</body>
<script>
$(document).ready(function() {

    var songs;
    var unAnsweredQuestions;
    var message;

    $("#begin").on('click', function() {
        if ($( "#genre option:selected" ).text() == "Seventies Disco") {
          message = {"text": "seventiesDisco"};
          alert("SEVENTIES DISCO CHOSEN");
        }
        else if ($( "#genre option:selected" ).text() == "Eighties Pop") {
          message = {"text": "eightiesPop"};
          alert("Eighties Pop CHOSEN");
            $.ajax({
              type: 'POST',
              url: server + "musicchoice",
              data: JSON.stringify(message),
              contentType: 'application/json',
              success: function(json) {
                songs = JSON.parse(json);
                unAnsweredQuestions = songs.length;

                playAudio('audioPlayer', songs[0]);
                playAudio('audioPlayer2', songs[1]);
                playAudio('audioPlayer3', songs[2]);
                playAudio('audioPlayer4', songs[3]);
                playAudio('audioPlayer5', songs[4]);
              
              }
            });
        }

    });

    $("#send").submit(function(e) {
        e.preventDefault();
        var result = $('#message').val();
        var message = {
            "text": result
        };
        $.ajax({
            type: 'POST',
            url: server + 'guess',
            data: JSON.stringify(message),
            contentType: 'application/json',
            success: function(json) {
                    console.log(json);
                    if (json !== "") {

                        $('.answers').append('<li>' + json + '</li>');
                        unAnsweredQuestions--;
                    }
                    if (unAnsweredQuestions === 0) {
                        console.log("CONGRATULATIONS");
                    }
                }
        });

    });

    var playAudio = function(player, songObject) {
        console.log("Do we get here");
        player = '#' + player;
        $(player).attr('src', songObject.title);
        $(player).prop('currentTime', songObject.start);
        $(player).prop('volume', songObject.volume);
        $(player).trigger('play');
    };


    var server = "http://127.0.0.1:3000/";


});
</script>

</html>
